<div class="bg-white border-b border-gray-200 p-6 pl-8 sticky top-0">
  <div class="flex justify-between items-center">
    <div class="text-2xl font-normal text-gray-800">
      Pages
    </div>

    <div class="flex">
      <button type="button" class="flex items-center h-9 px-2 pr-4 rounded-md border bg-white hover:bg-gray-100 active:shadow-inner text-gray-700 text-sm font-medium leading-none leading-none shadow-sm">
        <svg class="w-5 h-5 mr-2 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
        </svg>
        Change order
      </button>

      <button type="button" class="flex items-center h-9 px-2 pr-4 ml-3 rounded-md border bg-spina border-spina-dark active:shadow-inner text-white text-sm font-medium leading-none hover:bg-spina leading-none shadow-sm">
        <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        New page
      </button>
    </div>
  </div>

  <nav class="-ml-4 -mb-6 mt-2">
    <ul class="flex">
      <%= render Spina::TabLinkComponent.new(label: t('spina.website.all_pages'), href: spina.admin_pages_path, active: controller_name == "pages") %>

      <% Spina::Navigation.sorted.each do |nav| %>
        <%= render Spina::TabLinkComponent.new(label: nav.label, href: spina.admin_navigation_path(nav)) %>
      <% end %>
    </ul>
  </nav>
</div>

<div class="m-8 bg-white rounded-md border border-gray-200 shadow-sm">
  <%= render Spina::PageListComponent.new(pages: @pages) %>
</div>
