<div class="mb-6">
  <div class="text-red-600 font-bold text-lg">
    Your page could not be saved
  </div>
  
  <% errors.each do |error| %>
    <div class="text-red-500 font-medium"><%= error %></div>
  <% end %>
</div>
