<div class="mt-6">
  <label for="price" class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <input id="content" class="form-input block w-full sm:text-sm sm:leading-5" value="<%= f.object.content %>">
  </div>
</div>