/* Buttons */

.btn {
  @apply flex items-center justify-center rounded-md border;
  @apply h-9 px-4;
  @apply text-sm font-medium leading-none whitespace-no-wrap;
  @apply transition-colors duration-200;
}

.btn-default {
  @apply text-gray-700 bg-white shadow-sm border-gray-300;
}

.btn-default:hover {
  @apply bg-gray-50;
}

.btn-default:active {
  @apply shadow-inner bg-gray-100;
}

.btn-primary {
  @apply bg-spina border-spina-dark text-white;
}

.btn-primary:hover {
  @apply bg-spina-dark;
}

.btn-red {
  @apply bg-red-500 border-red-500;
  @apply text-white;
}

.btn.btn-red:hover {
  @apply bg-red-600 border-red-600;
}

.btn.btn-red:active {
  @apply bg-red-600 border-red-600 shadow-inner;
}

.btn-gray {
  @apply text-gray-800;
  @apply bg-gray-300;
}

.btn-gray:hover {
  @apply bg-gray-400 border-gray-400 bg-opacity-75;
}

.btn-gray:active {
  @apply bg-gray-400 border-gray-400 bg-opacity-75 shadow-inner;
}

.btn-green {
  @apply bg-green-500;
}

/* Forms */

.form-select {
  @apply text-sm;
}

.form-input, .form-select {
  @apply py-3 px-4;
  @apply text-gray-700;
  @apply shadow-sm;
  @apply transition duration-150 ease-in-out;
}

/* Modals */

.modal {
  @apply flex items-center justify-center;
  @apply fixed z-50 inset-0 h-full p-6;
}

.modal-window {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  @apply w-full max-w-lg overflow-hidden relative;
  @apply bg-white bg-opacity-75 shadow-lg rounded-xl;
  @apply border border-gray-400;
}
