trix-toolbar {
  button {
    @apply text-gray-700 w-9 h-9 flex items-center justify-center;
  }

  button[data-trix-active] {
    @apply text-white bg-spina;
  }

  button[disabled] {
    @apply bg-gray-100 text-gray-400;
  }
}

trix-editor {
  
  [data-trix-mutable]:not(.attachment__captain-editor) {
    @apply select-none
  }

  figure.attachment {
    @apply m-0 inline-block;
  }

  figure.attachment img {
    height: 150px;
    max-width: 200px;
    @apply m-0 rounded-md;
  }
  
  figure.attachment [data-label]:after {
    content: attr(data-label);
    @apply italic text-gray-500 h-8 flex items-center px-2 mt-1 text-sm;
  }

  figure[data-trix-mutable].attachment img {
    @apply shadow-lg ring ring-spina-light
  }

  figure .attachment__caption {
    @apply hidden
  }

  figure .attachment__toolbar {
    @apply hidden
  }

}

trix-editor [data-trix-mutable]::-moz-selection,
trix-editor [data-trix-cursor-target]::-moz-selection, trix-editor [data-trix-mutable] ::-moz-selection {
  background: none; }
trix-editor [data-trix-mutable]::selection,
trix-editor [data-trix-cursor-target]::selection, trix-editor [data-trix-mutable] ::selection {
  background: none; }