<li data-navigation-target="navigation">
  <button type="button" class="flex w-full items-center p-3 opacity-50 hover:opacity-100 transition-none" data-navigation-target="button" data-action="navigation#toggle navigation#enableTransitions">
    <%= icon %>
  </button>

  <ul class="shadow-2xl md:shadow-0 md:border-0 md:block md:h-screen bg-spina-dark md:bg-gradient-to-b md:from-spina-dark md:to-spina-light absolute left-0 md:inset-0 z-50 md:z-10 px-2 md:px-3 py-3 md:py-5 w-full transform translate-x-full transition-none duration-300">
    <%= links %>
  </ul>
</li>
