<div class="fixed bottom-0 left-0 w-full flex justify-center">
  <% flash.each do |type, message| %>
    <%= render Spina::FlashMessageComponent.new(type: type, message: message) %>
  <% end %>
</div>