<%= render Spina::FileManager::AttachmentComponent.with_collection(@attachments) %>

<% unless @attachments.last_page? %>
  <button type="button" data-infinite-scroll-target="button" data-action="infinite-scroll#loadNextPage" data-path="<%= path_to_next_page(@attachments) %>">Load next page</button>
<% end %>