<%= render Spina::HeaderComponent.new do |header| %>
  <% header.with(:navigation) do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
        
        <% @navigations.each do |navigation| %>
          <%= render Spina::TabLinkComponent.new(navigation.label, spina.edit_admin_navigation_path(navigation)) %>
        <% end %>
        
      </ul>
    </nav>
  <% end %>
<% end %>

<div class="p-8">
  
</div>